/*all*/
body{
    font-family: 'Raleway', sans-serif;
}
.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaround{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.flexbetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.colorblue{
    color: #0065FC;
}
.colorblack{
    color: black;
}
.colorgrey{
    color: #f2f2f2;
}
.backblue{
    background-color: #0065FC;
}
.backgrey{
    background-color: #f2f2f2;
}
.textbold{
    font-weight: bold;
}
.bordurenone{
    border: none;
}
/*nav*/
.navbar{
    height: 100px;
}
.sizenav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}
.decorationNone{
    text-decoration: none;
    color: black;
}
.sizelien{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 99px;
}

.bordurenav{
    border-top: 3px solid blue ;
}
.bordurenavnone{
    border-top: 3px solid transparent;
}
/*HEADER*/

.borduresearch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 20px;
    border: .5px solid #f2f2f2
}
.paddingsearch{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconsize{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width: 50px;
    border-radius: 15px 0 0 15px;
}
.button{
     display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
}
.filters ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
  .filters ul li {
    display: inline;
    margin-left: 25px;
    font-weight: 700;
    border: solid 2px #f2f2f2;
    padding: 0 20px 0 0;
    margin-top: 10px;
    border-radius: 200px;
  }
  .icon-filter {
    background-color: #DEEBFF;
    color: #0065fc;
    padding: 18px;
    border-radius: 200px;
    margin-right: 15px;
  }
  .info .fas {
    color: #0065fc;
    font-size: 16px;
    padding: 7px 11px 7px 11px;
    border: solid 1px #F2F2F2;
    border-radius: 200px;
    margin-right: 20px;
  }
.info{
    display: flex;
    align-items: center;
}
.info p{
    display: inline;
}  
.filters h3 {
    font-size: 24px;
    display: inline;
  }
.filters ul li:hover {
    cursor: pointer;
    background: #DEEBFF;
  }
  
  .filters ul li:hover .icon-filter {
    background: white;
  }

/*SECTION HEBERGEMENTS*/
.section-hebergements{
    display: flex;
    justify-content: space-between;
}
.bloc{
    background-color: #F2F2F2;
    border-radius: 25px;
}
.bloc-hebergement{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    width: 66%;
}
.title-h2{
    width: 100%;
}
.marseille-hotels{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}
.marseille-hotel{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    border-radius: 20px;
    padding: 7px;
}
.marseille-hotel img{
    width: 100%;
    height: 100px;
    background-size: 100% 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.stars{
    display: flex;
}
.lien-h{
    width: 30%;
    margin-bottom: 20px;
}
.hebergement-para{
    width: 100%;
}
/*POPULAIRE*/
.bloc-populaire{
    display: flex;
    justify-content: center;
    width: 30%;
}
.populaires{
    display: flex;
    flex-direction: column;
    padding: 0 40px 0 40px;
}
.populaire{
    display: flex;
}
.populaire-icone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lien-pop{
    margin-bottom: 30px;
}
.populaire#chambre1{
    display: flex;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    padding: 7px 0 7px 7px;
    height: 140px;
}
.populaire#chambre2{
    display: flex;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    padding: 7px 0 7px 7px;
    height: 140px;
}
.populaire#chambre3{
    display: flex;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    padding: 7px 0 7px 7px;
    height: 140px;
}
.populaire-img{
    display: flex;
    align-items: center;
    padding: 0;
    width: 35%;
}
.populaire-img img{
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;

}
.populaire .populaire-txt{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
}
.populaire-txt .nom-hotel{
    margin: 0;
}
.populaire-txt .populaire-prix{
    margin: 0;
}
/*ACTIVITES*/
.lien-a{
    width: 100%;
}
.activites{
    margin-top: 50px;
    margin-bottom: 50px;
}
.bloc-activites{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 600px;
}
.bloc-activites-petit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 23%;
    height: 600px;
}
.activites-cartes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 23%;
    height: 600px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #F2F2F2;
}
.activites-cartes-petit{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #F2F2F2;
}
.small{
    width: 100%;
    object-fit: cover;
    height: 250px;
    border-radius: 20px 20px 0 0;
}
.xsmall{
    width: 100%;
    object-fit: cover;
    height: 150px;
    border-radius: 20px 20px 0 0;
}
.activites-cartes img{
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 530px;
}
.activites-cartes img#small{
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 250px;
}
.activites-cartes img#xsmall{
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 150px;
}
.titre-activites{
    margin: 20px
}
/*FOOTER*/
.footer {
    width: 100%;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-blocs {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .footer-bloc {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .footer-bloc > * {
    margin-bottom: 10px;
  }
  
  .footer-title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .footer-bloc-assistance {
    margin-right: 20%;
  }
