/*all*/
body{
    font-family: 'Raleway', sans-serif;
}
.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaround{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.flexbetween{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.colorblue{
    color: #0065FC;
}
.colorblack{
    color: black;
}
.colorgrey{
    color: #f2f2f2;
}
.backblue{
    background-color: #0065FC;
}
.backgrey{
    background-color: #f2f2f2;
}
.textbold{
    font-weight: bold;
}
.bordurenone{
    border: none;
}
/*nav*/
.navbar{
    height: 100px;
}
.logo{
    width: 72%;
}
.sizenav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}
.decorationNone{
    text-decoration: none;
    color: black;
}
.sizelien{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 99px;
}

.bordurenav{
    border-top: 3px solid blue ;
}
.bordurenavnone{
    border-top: 3px solid transparent;
}
/*HEADER*/

.borduresearch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 20px;
    border: .5px solid #f2f2f2
}
.paddingsearch{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconsize{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width: 50px;
    border-radius: 15px 0 0 15px;
}
.button{
     display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
}
.filters ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
  .filters ul li {
    display: inline;
    margin-left: 25px;
    font-weight: 700;
    border: solid 2px #f2f2f2;
    padding: 0 20px 0 0;
    margin-top: 10px;
    border-radius: 200px;
  }
  .icon-filter {
    background-color: #DEEBFF;
    color: #0065fc;
    padding: 18px;
    border-radius: 200px;
    margin-right: 15px;
  }
  .info .fas {
    color: #0065fc;
    font-size: 16px;
    padding: 7px 11px 7px 11px;
    border: solid 1px #F2F2F2;
    border-radius: 200px;
    margin-right: 20px;
  }
.info{
    display: flex;
    align-items: center;
}
.info p{
    display: inline;
}  
.filters h3 {
    font-size: 24px;
    display: inline;
  }
.filters ul li:hover {
    cursor: pointer;
    background: #DEEBFF;
  }
  
  .filters ul li:hover .icon-filter {
    background: white;
  }

/*SECTION HEBERGEMENTS*/
.section-hebergements{
    display: flex;
    justify-content: space-between;
}
.bloc{
    background-color: #F2F2F2;
    border-radius: 25px;
}
.bloc-hebergement{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    width: 66%;
    box-sizing: border-box;
}
.title-h2{
    width: 100%;
}
.marseille-hotels{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.marseille-hotel{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 20px;
    padding: 5px;
}
.marseille-hotel img{
    width: 100%;
    height: 127px;
    background-size: 100% 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.marseille-hotel-text{
    margin: 7px;
}
.marseille-hotel-txt{
    padding: 5px 10px;
}
.titre-hotel{
    margin: 0 0 3px 0;
}
.para-hotel {
    margin: 0 0 7px 0;
}
.stars{
    display: flex;
}
.lien-h{
    width: 30%;
    margin-bottom: 20px;
}
.hebergement-para{
    width: 100%;
}
/*POPULAIRE*/
.bloc-populaire{
    display: flex;
    justify-content: center;
    width: 30%;
}
.populaires{
    display: flex;
    flex-direction: column;
    padding: 18px 40px 0 40px;
}
.populaire{
    display: flex;
}
.populaire-icone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lien-pop{
    margin-bottom: 30px;
}
.populaire#chambre1{
    display: flex;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    padding: 5px 0 5px 5px;
    height: 140px;
}
.populaire#chambre2{
    display: flex;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    padding: 5px 0 5px 5px;
    height: 140px;
}
.populaire#chambre3{
    display: flex;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    padding: 5px 0 5px 5px;
    height: 140px;
}
.populaire-img{
    display: flex;
    align-items: center;
    padding: 0;
    width: 40%;
}
.populaire-img img{
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;

}
.populaire .populaire-txt{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin: 10px 20px;
}
.populaire-txt .nom-hotel{
    margin: 0;
}
.populaire-txt .populaire-prix{
    margin: 0;
}
/*ACTIVITES*/
.lien-a{
    width: 100%;
}
.activites{
    margin-top: 50px;
    margin-bottom: 50px;
}
.bloc-activites{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 600px
}
.bloc-activites-petit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 23%;
    height: 600px;
}
.activites-cartes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 23%;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 9px #F2F2F2;
}
.activites-cartes-petit{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 9px #F2F2F2;
}
.small{
    width: 100%;
    object-fit: cover;
    height: 250px;
    border-radius: 20px 20px 0 0;
}
.xsmall{
    width: 100%;
    object-fit: cover;
    height: 150px;
    border-radius: 20px 20px 0 0;
}
.activites-cartes img{
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 537px;
}
.activites-cartes img#small{
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 250px;
}
.activites-cartes img#xsmall{
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 150px;
}
.titre-activites{
    margin: 20px
}
/*FOOTER*/
.footer {
    width: 100%;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-blocs {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .footer-bloc {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .footer-bloc > * {
    margin-bottom: 10px;
  }
  
  .footer-title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .footer-bloc-assistance {
    margin-right: 20%;
  }

  /*MEDIA QUERIES*/

  /*tablets device*/
  @media (max-width: 991.98px){
      .section-hebergements{
          display: flex;
          flex-direction: column;
      }
      .bloc-hebergement{
          width: 100%;
          order: 2;
      }
      .bloc-populaire{
          width: 100%;
          order: 1;
          margin-bottom: 20px;
      }
      .lien-h{
          width: 44%;
      }
      .activites{
          box-sizing: border-box;
          padding: 0 40px 0 40px;
      }
      .bloc-activites{
          display: flex;
          flex-wrap: wrap;
          height: auto;
      }
      .activites-cartes{
          width: 44%;
      }
      .bloc-activites-petit{
          width: 44%;
      }
      .activites-cartes{
          margin-bottom: 20px;
      }
      .bloc-activites-petit{
          margin-bottom: 20px;
      }
  }

  /*phones devices*/
  @media (max-width: 575.98px){
      .navbar{
          height: auto;
      }
      .flexbetween{
          justify-content: center;
          box-sizing: border-box;
          flex-wrap: wrap;
      }
      .logo{
          width: 50%;
          order: 1;
          display: flex;
          justify-content: space-around;
      }
      .bordurenav{
          border-top: none;
          border-bottom: 3px solid #0065FC;
          order: 3;
      }
      .sizelien{
          width: 50%;
          height: 75px;
          font-weight: 700;
      }
      .act{
          border-bottom: 3px solid #f2f2f2;
          order: 4;
      }
      .sinscrire{
          order: 2;
      }
      .bloc{
          border-radius: 0;
      }
      .borduresearch{
          margin-bottom: 20px;
      }
      .links{
          padding: 0 3px;
      }
      .filters ul li{
          margin-left: 7px;
      }
      .bloc-hebergement{
          background-color: white;
          padding: 0 10px 0 10px;
      }
      .marseille-hotel-txt{
          margin-left: 10px;
      }
      .titre-hotel{
          margin: 7px 0 7px 0;
      }
      .populaires{
          padding: 0 10px 0 10px;
      }
      .lien-pop{
          width: 100%;
      }
      .lien-h{
          width: 100%;
      }
      .marseille-hotel{
          border: 3px solid white;
          box-shadow: 5px 5px 5px 5px #F2F2F2; ;
      }
      .bloc-activites{
          display: flex;
          flex-direction: column;
          height: auto;
      }
      .activites{
          padding: 0 10px 0 10px;
      }
      .activites-cartes{
          width: 100%;
          margin-bottom: 20px;
          height: 234px;
      }
      .bloc-activites-petit{
          width: 100%;
          justify-content: normal;
          height: auto;
          margin-bottom: 20px;
      }
      .margep{
          margin-bottom: 20px;
      }
      .small{
          height: 169px;
      }
      .xsmall{
          height: 169px;
      }
      .activites-cartes img{
          height: 169px;
      }
      .footer-blocs{
          flex-direction: column;
      }
  }